<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
	<title>Colons de Catane</title>
	<meta name="description" content="Jouez au fameux jeu de plateau et de stratégie Colons de Catane,
	 colonisez les terrains pour obtenir des ressources, batir vos villes et vos route,
	  utilisez les cartes de développement pour atteindre la vicoire avant vos adversaires" />
	<base href="/colonscatane-interface/" />
	<link rel="stylesheet" type="text/css" href="assets/css/style.css" />
	<script defer src="cataneScript.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>	  
</head>
<body>
	<form id="connexion">
		<div class="jumbotron jumbotron-fluid">
	  		<div class="container">
    			<h1 class="display-4">Colons de Catane</h1>
    			<p class="lead">Bienvenu sur le jeu</p>
	  		</div>
		</div>
  		<div class="form-group">
    		<label for="username" required>Username</label>
    		<input type="text" class="form-control" id="username">
    		<small id="usernameHelp" class="form-text text-muted">We'll never share your data with anyone else.</small>
  		</div>
  		<div class="form-group">
    		<label for="userPassword">Password</label>
    		<input type="password" class="form-control" id="userPassword" required>
  		</div>
  		<div class="form-group">
  			<a href="/MavenWar/formproduit">Connexion</a>
    		<button type="submit" class="btn btn-primary" id="connexionBtn">Connexion</button>
  		</div>
  		<br/>
  		<br/>
  		<div class="form-group">
  			<div>
  				<label><b>New to the game</b></label>
  			</div>
  			<div>
  				<button type="submit" class="btn btn-primary" id="creationCompteBtn1">Créer mon compte utilisateur</button>
  			</div>
  		</div>
	</form>
	<form id="userCreator">
		<div class="jumbotron jumbotron-fluid">
	  		<div class="container">
    			<h1 class="display-4">Colons de Catane</h1>
    			<p class="lead">Bienvenu sur le jeu</p>
	  		</div>
		</div>
		<div class="form-group">
    		<label for="nom" required>Nom</label>
    		<input type="text" class="form-control" id="nom">
  		</div>
  		<div class="form-group">
    		<label for="usernameCreator" required>Username</label>
    		<input type="text" class="form-control" id="usernameCreator" required>
  		</div>
  		<div class="form-group">
    		<label for="userPasswordCreator">Password</label>
    		<input type="password" class="form-control" id="userPasswordCreator" required>
  		</div>
  		<div class="form-group">
    		<label for="userPassword2">Confirm password</label>
    		<input type="password" class="form-control" id="userPassword2" required>
  		</div>
  		<div>
  			<button type="submit" class="btn btn-primary">Créer mon compte utilisateur</button>
  		</div>
	</form>
	<form id="userCompte">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  			<a class="navbar-brand" href="#">Menu</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
  				</button>
  				<div class="collapse navbar-collapse" id="navbarNav">
    				<ul class="navbar-nav">
      					<li class="nav-item active">
        					<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      					</li>
      					<li class="nav-item active">
        					<a class="nav-link" href="Nouvelle_Partie.html">Nouvelle partie</a>
      					</li>
      					<li class="nav-item">
        					<a class="nav-link rules" href="#">Règles</a>
      					</li>
      					<li class="nav-item">
        					<a class="nav-link profile" href="#">Profil</a>
      					</li>
      					<li class="nav-item">
        					<a class="nav-link copains" href="#">Copains de Catane</a>
      					</li>
      					<li class="nav-item params">
        					<a class="nav-link" href="#">Paramètres</a>
      					</li>
    				</ul>
  				</div>
			</nav>
		<div name="bienvenue">
			Bienvenue sur votre compte
		</div>
		<div name="divRules">
			Les règles
		</div>
		<div name="divProfile">
			Mon profile
		</div>
		<div name="divCopains">
			Mes copains
		</div>
		<div name="divParams">
			Paramètres
		</div>
	</form>
</body>
</html>