<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{ layout.html :: layout(~{::title} , ~{ ::body } )} ">
<head>
<title>Partie Colons de Catane</title>
<link rel="stylesheet" type="text/css" href="assets/css/nouvellePartie.css" />
</head>
<body>
	<form id="choixJoueur" method="POST">
		<div class="jumbotron jumbotron-fluid">
	  		<div class="container">
    			<h1 class="display-4">Colons de Catane</h1>
    			<p class="lead">Lancer une nouvelle partie</p>
	  		</div>
		</div>
		<div class="form-group">
			<h4> Entrer les joueurs</h4>
		</div>
  		<div class="form-group">
    		<label id= "user" >Entrer le nom d'utilisateur du joueur</label>
    		<input type="text" class="form-control" id="saisieUsername" name = "nom">
  		</div>
  		<div class="form-group">
    		<button type="submit" class="btn btn-primary saisie_joueur" >Inviter</button>
  		</div>
  	</form>
  		
  		<br/>
  		<br/>
  		<table class="table table-striped">
			 <thead>
				<tr>
					<th scope="col"></th>
				    <th scope="col">Couleur</th>
				   	<th scope="col">Nom</th>
				   	<th scope="col">Status</th>
				</tr>
			</thead>
			<tbody>
		
			
				<tr>
			      <th scope="row">Joueur 1</th>
			      <td> <div class="sqare bleu"> </div>
			      </td>
			      <td name="nomJoueur0">[[${joueur1?.username}]]</td>
			      <td name="statusJoueur0"></td>
			  	</tr>
				<tr>
					<th scope="row">Joueur 2</th>
				    <td><div class="sqare rouge"> </div>
				    </td>
				    <td name="nomJoueur1">[[${joueur2?.username}]]</td>
				    <td name="statusJoueur1"></td>
				</tr>
				<tr>
					<th scope="row">Joueur 3</th>
				    <td><div class="sqare vert"> </div>
				    </td>
				    <td name="nomJoueur2">[[${joueur3?.username}]]</td>
				    <td name="statusJoueur2"></td>
				</tr>
				<tr>
					<th scope="row">Joueur 4</th>
				    <td><div class="sqare jaune"> </div>
				    </td>
				    <td name="nomJoueur3">[[${joueur4?.username}]]</td>
				    <td name="statusJoueur3"></td>
				</tr>
			</tbody>
		</table>
		<br/>
  		<br/>		
		<a href="partie.html"><button type="button" class="btn btn-primary btn-lg btn-block" >LANCER LA PARTIE !</button> </a>
	
</body>
</html>