<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{ layout.html :: layout(~{::title} , ~{ ::body }) }">
<head>
	<title>Paramètres Colons Catane</title>
</head>
<body>
	<div>
		<h2>Paramètres du compte</h2>
	</div>
	<div class="form-group">
		<div>utilisateur : [[${session.user}]]</div>
		<div>
  			<label><b>Deconnexion</b></label>
  		</div>
  		<div>
  			<a type="submit" th:href="@{deconnect}" class="btn btn-primary">Deconnexion</a>
  		</div>
  		<br>
  		<div>
  			<label><b>Supprimer votre compte utilisateur</b></label>
  		</div>
  		<div>
  			<a type="submit" th:href="@{deleteuser}" class="btn btn-primary">Supprimer et retour à l'accueil</a>
  		</div>
  	</div>	
</body>
</html>