@charset "ISO-8859-1";

.jumbotron {
	background-image: url('../ferme.jpg');
	position: relative;
	background-size: cover;
	background-position: center;
}

.sqare{
	display:block;
	width:130px;
	height:20px;
	
}

.bleu{
	background:#069;
}

.rouge{
	background:red;
}

.vert{
	background:lightgreen;
}

.jaune{
	background:yellow;
}



