@charset "ISO-8859-1";

header{
	display : block;
	position : relative;
	top : 0px;
	height : 150px;
	background-color : #6d071a;

	
	
	
}

div .container {
	position: relative
}

.quiter {
	float: right;
	margin-top: 10px;
}

.tableauJoueurs {
	background-color: #993300;
	width: 80%;
	margin: auto;
}

.joueurStatus{
	display: inline-block;
	background-color: #101010;
	color: white;
	margin-left: 5%;
	width: 15%;
	margin-bottom: 5px;
	margin-top: 5px;
}

body{
	background-color: #f9e4b7;
	
}



#plateau {
	margin : auto ;
	width : 100%;
	min-width : 1500px;
	
	
	
}



.line {
	margin-left : 500px;
	
	
}

.line2{
	
	margin-left : 422.8px;
	margin-top : -130px;
	
	
}


.line3{
	margin-left : 347px;
	margin-top : -130px;
}

.line4{
	margin-left : 270px;
	margin-top : -130px;
}

.linefin{
	margin-left : 500px;
	margin-top : -130px;
}


.eau{

	background-color : blue;
	
}

.eau:before{
	border-bottom: 43.3px solid blue;
}

.eau:after{
	border-top: 43.3px solid blue;
}

.Foret{

	background-color : darkgreen;
}

.Foret:before{
	border-bottom: 43.3px solid darkgreen;
}

.Foret:after{
	border-top: 43.3px solid darkgreen;
}

.Prairie{

	background-color : lightgreen;
}

.Prairie:before{
	border-bottom: 43.3px solid lightgreen;
}

.Prairie:after{
	border-top: 43.3px solid lightgreen;
}

.Champ{

	background-color : #e8d630;
}

.Champ:before{
	border-bottom: 43.3px solid #e8d630;
}

.Champ:after{
	border-top: 43.3px solid #e8d630;
}

.Carriere{

	background-color : #b38266;
}

.Carriere:before{
	border-bottom: 43.3px solid #b38266;
}

.Carriere:after{
	border-top: 43.3px solid #b38266;
}

.Montagne{

	background-color : #b7b7b7;
}

.Montagne:before{
	border-bottom: 43.3px solid #b7b7b7;
}

.Montagne:after{
	border-top: 43.3px solid #b7b7b7;
}


.Desert{

	background-color : black;
}

.Desert:before{
	border-bottom: 43.3px solid black;
}

.Desert:after{
	border-top: 43.3px solid black;
}
.hexagon {
  display : inline-block;
  content : "3";
  color : black;
  position: relative;
  width: 150px; 
  height: 86.6px;
  
  margin: 86.60px 0;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 75px solid transparent;
  border-right: 75px solid transparent;
}

.hexagon:before {
  bottom: 100%;
 
}

.hexagon:after {
  top: 100%;
  width: 0;
  
}

.conteneur {
	display : grid;
	position : relative;
	top : 10px;
}



.cercle:hover {
	backgroond-color : red;
}

.sommetH{
	top : -53px;
	left : 63px;
}

.sommetHD{
	top : -11px;
	left : 139px;
	z-index : 1;
}

.sommetHG {
	top : -11px;
	left : -11px;
}


.cercle {
	position : absolute;
	display : inline-block;
    border-radius: 16px;
    background: green;
    cursor: pointer;
}

.sommet {
	width: 24px;
    height: 24px;
}

.route {
	width: 35px;
    height: 35px;
}


.routeHD{
	top : -42px;
	left : 97px;
}

.routeHG{
	top : -42px;
	left : 21px;
}

.routeG{
	top : 27px;
	left : -19px;
}

.routeD{
	top : 27px;
	left : 132px;	
	z-index : 1;
}


.de{
	position : absolute;
	display : inline-block;
	top : 5px;
	left : 68px;
	font-size : x-large;
	

}



