@charset "ISO-8859-1";

.jumbotron {
	background-image: url('../ferme.jpg');
	position: relative;
	background-size: cover;
	background-position: center;
}

@media screen and (min-width: 600px) {
	.form-group {
		position: center;
		margin-left: 10%;
		margin-right: 10%;
	}
}

.bandeau{
	text-align : center;
	color : rgba( 167, 160, 160, 0.7);
}

.sqare{
	display:block;
	width:130px;
	height:20px;
	
}

.bleu{
	background:#069;
}

.rouge{
	background:red;
}

.vert{
	background:lightgreen;
}

.jaune{
	background:yellow;
}



